@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

@import "tailwindcss";
@plugin "daisyui";




body{
  font-family: "Lustria", serif;
  font-weight: 400;
  font-style: normal;
}
